@import "./reset";
@import "./variable";
@import "./commonStyle";
@import "./flexbox";
@import "./dataAttribute";
@import "./container";


body{
    background: $riceWhite;
}

.menu{
    position: relative;
    float: left;
    padding-top: 5vh;
    width: 15vw;
    height: 100vh;
    background: $carrotOrange;
    li{
        @include boxSizing;
        padding: 2vh 0;
        width: 100%;
        a{
          color: $riceWhite;  
        }
    }
}

.container{
    display: table;
    padding: 5vh 5vw;
}